[user]
    name = nlkli
    email = groz.yt56@gmail.com

[init]
    defaultBranch = main

[alias]
    acp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
    release = "!f() { git tag -fa \"$1\" -m \"Release $1\" && git push origin \"$1\" --force; }; f"

